.moveable-direction {
  opacity: 0 !important;
  background-color: transparent !important;
  border: none !important;
}

.canvas-item {
  outline: none;
}

.canvas-item.selected {
  outline: 3px dotted blue;
}

.moveable-control-box {
  display: none;
}

.selected .moveable-control-box {
  display: block !important;
}
